<form class="" action="/books" method="POST">
  <h2>Add a Book</h2>
  <label for="book-title">Title</label>
  <input type="text" maxlength="255" name="title" id="book-title" required="required">

  <label for="book-genre">Genre</label>
  <input type="text" maxlength="255" name="genre" id="book-genre" required="required">

  <label for="book-cover-image-url">Cover Image URL</label>
  <input type="url" name="cover_image_url" id="book-cover-image-url">

  <label for="book-description"></label>
  <textarea name="description" maxlength="10000" required="required" id="book-description"></textarea>

  <input type="submit" value="Add Book">
</form>
